In [13]:
for i in range(1,5):
    for j  in range(1,5):
        if j <= i:
            print("*",end='')
        else:
            print(" ",end='')
    print()

*
**
***
****

In [212]:
for i in range(1,5):
    for j  in range(1,5):
        if j >= 5 - i:
            print("*",end='')
        else:
            print(" ",end='')
    print()

   *
  **
 ***
****

In [196]:
 for i in range(1,5):
    for j  in range(1,5):
        if j <= 5 - i :
            print("*",end='')
        else:
            print(" ",end='')
    print()

****
***
**
*

In [198]:
 for i in range(1,5):
    for j  in range(1,5):
        if j >= i :
            print("*",end='')
        else:
            print(" ",end='')
    print()

****
 ***
  **
   *

In [200]:
 for i in range(1,5):
    for j  in range(1,8):
        if j>=5-i and j<=3+i:
            print("*",end='')
        else:
            print(" ",end='')
    print()

   *
  ***
 *****
*******

In [201]:
for i in range(1,5):
    for j  in range(1,8):
        if j>=i and j<=8-i:
            print("*",end='')
        else:
            print(" ",end='')
    print()

*******
 *****
  ***
   *

In [4]:
#For Loop
n = 6
for i in range(n):
    print(' '*(n-i), '*'*(i*2), end="")
    print()

      **
     ****
    ******
   ********
  **********

In [3]:
for i in range(1,5):
    for j  in range(1,5):
        if j<=i:
            print(j,end='')
        else:
            print(" ",end='')
    print()

1
12
123
1234

In [208]:
for i in range(1,5):
    k=6-i
    for j  in range(1,5):
        if j<=5-i:
            print(k,end='')
            k-=1
        else:
            print(" ",end='')
    print()

5432
432
32
2

In [5]:
n = 5 #

# Upper half of the diamond
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end='')
    for k in range(2 * i + 1):
        print("*", end='')
    print()

# Lower half of the diamond
for i in range(n - 2, -1, -1):
    for j in range(n - i - 1):
        print(" ", end='')
    for k in range(2 * i + 1):
        print("*", end='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [6]:
#while Loop
i = 1
while i < 5:
    j = 1
    while j < 5:
        if j <= i:
            print("*", end='')
        else:
            print(" ", end='')
        j += 1
    print()
    i += 1

*
**
***
****

In [7]:
i = 1
while i < 5:
    j = 1
    while j < 5:
        if j >= i:
            print("*", end='')
        else:
            print(" ", end='')
        j += 1
    print()
    i += 1

****
 ***
  **
   *

In [8]:
i = 1
while i < 5:
    j = 1
    while j < 5:
        if j <=5-i:
            print("*", end='')
        else:
            print(" ", end='')
        j += 1
    print()
    i += 1

****
***
**
*

In [9]:
i = 1
while i < 5:
    j = 1
    while j < 5:
        if j >=5-i:
            print("*", end='')
        else:
            print(" ", end='')
        j += 1
    print()
    i += 1

   *
  **
 ***
****

In [10]:
i = 1
while i < 5:
    j = 1
    while j < 8:
        if j >= 5 - i and j <= 3 + i:
            print("*", end='')
        else:
            print(" ", end='')
        j += 1
    print()
    i += 1

   *
  ***
 *****
*******

In [11]:
i = 1
while i < 5:
    j = 1
    while j < 8:
        if j >= i and j <= 8 - i:
            print("*", end='')
        else:
            print(" ", end='')
        j += 1
    print()
    i += 1

*******
 *****
  ***
   *

In [12]:
n = 5  

# Upper half of the diamond
i = 0
while i < n:
    j = 0
    while j < n - i - 1:
        print(" ", end='')
        j += 1
    k = 0
    while k < 2 * i + 1:
        print("*", end='')
        k += 1
    print()
    i += 1

# Lower half of the diamond
i = n - 2
while i >= 0:
    j = 0
    while j < n - i - 1:
        print(" ", end='')
        j += 1
    k = 0
    while k < 2 * i + 1:
        print("*", end='')
        k += 1
    print()
    i -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [26]:
class democlass:
    a=10
    def __init__(self):
        print("jawad")
    def sumvalue(self):
        print(20+30)
    def showvalue(self,a,b):
        print(a+b)
jawad=democlass()
print(democlass.a)
jawad.sumvalue();
jawad.showvalue(2,4)

jawad
10
50
6

In [18]:
class DemoClass:
    a = 10

# Create an instance of DemoClass
jawad = DemoClass()

# Print the class attribute 'a'
print(DemoClass.a)

10

In [31]:
class jawadclassA:
    def display1(self):
        print("hello jawad 1")
class qamarclassB(jawadclassA):
    super().displ
    def display(self):
        print("hello qamar 2")
obj=qamarclassB();
obj.display();
obj.display1();

hello qamar 2
hello jawad 1

In [32]:
class jawadclassA:
    def display1(self):
        print("hello jawad 1")
class qamarclassB:
    def display(self):
        print()

In [35]:
__init__(self, brand, model):
    self.brand = brand
    self.model = model

    def move(self):
    print("Drive!")

class Boat:
    def __init__(self, brand, model):
    self.brand = brand
    self.model = model

    def move(self):
    print("Sail!")

class Plane:
    def __init__(self, brand, model):
    self.brand = brand
    self.model = model

    def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

SyntaxError: invalid syntax (382201386.py, line 1)

In [37]:
__init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)